---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      home-assistant:
        # pod:
        #   annotations:
        #     k8s.v1.cni.cncf.io/networks: |
        #       [{
        #         "name":"multus-iot",
        #         "namespace": "network",
        #         "ips": ["10.20.0.100/24"],
        #         "mac": "3e:59:e4:f7:43:08"
        #       }]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
            env:
              VENV_FOLDER: /venv
              TZ: Europe/Berlin
              HOME_ASSISTANT_EXTERNAL_URL: https://{{ .Release.Name }}.anneken.cloud
              HOME_ASSISTANT_PURGE_KEEP_DAYS: 30
              HOME_ASSISTANT_TRUSTED_PROXIES: 10.42.0.0/16
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "multus-iot",
            "namespace": "network",
            "ips": ["10.20.0.150/24"],
            "mac": "3e:59:e4:f7:43:08"
          }]
    service:
      app:
        ports:
          http:
            port: &port 8123
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.anneken.cloud"
          - hass.anneken.cloud
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: home-assistant
        advancedMounts:
          home-assistant:
            app:
              - path: /config

      config-cache:
        existingClaim: home-assistant-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              # - path: /config/logs
              #   subPath: logs
              # - path: /config/tts
              #   subPath: tts
              - path: /tmp
                subPath: tmp
