# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rscp2mqtt
  namespace: home
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  maxHistory: 3

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:
    controllers:
      main:
        #type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          priorityClassName: home-cluster-critical

        # initContainers:
        #   delete-default-route:
        #     image:
        #       repository: docker.io/alpine
        #       tag: 3.20
        #     securityContext:
        #       runAsNonRoot: false
        #       runAsUser: 0
        #       runAsGroup: 0
        #       fsGroup: 0
        #       fsGroupChangePolicy: OnRootMismatch
        #       capabilities:
        #         add:
        #           - NET_ADMIN
        #     command:
        #       - sh
        #       - -c
        #       - |
        #         ip route del default
        #         ip route add default via 10.20.0.1 dev net1



        containers:
          main:
            image:
              repository: docker.io/pvtom/rscp2mqtt
              tag: v3.38
            envFrom:
              - secretRef:
                  name: rscp2mqtt-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              capabilities: { add: ["NET_ADMIN"] }
            resources:
              requests:
                cpu: 23m
                memory: 300M
              limits:
                memory: 300M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        #privileged: true
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
      annotations:
        cni.cilium.io/no-ipam: "true"
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "multus-iot",
            "namespace": "network",
            "ips": ["10.20.0.65/24"],
            "mac": "3e:59:e4:f7:43:20"
          }]
