---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
  namespace: network
spec:
  timeout: 10m0s
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      multus:
        type: daemonset
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          cni-plugins:
            image:
              repository: ghcr.io/home-operations/cni-plugins
              tag: 1.7.1@sha256:4bd4e77e3fbc21dd63b9826a011cead1333b6975efa4d1d2631ca932bfd27371
        containers:
          multus:
            image:
              repository: ghcr.io/k8snetworkplumbingwg/multus-cni
              tag: v4.2.4@sha256:c3b12d1b56d7607a302ec23ececa236256bc940c04b3be5c1f39e0234398c4c9
            command:
              - /thin_entrypoint
            args:
              - --cleanup-config-on-exit=true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              privileged: true
    defaultPodOptions:
      hostNetwork: true
    rbac:
      roles:
        multus:
          type: ClusterRole
          rules:
            - apiGroups: ["k8s.cni.cncf.io"]
              resources: ["*"]
              verbs: ["*"]
            - apiGroups: [""]
              resources: ["pods", "pods/status"]
              verbs: ["get", "update"]
            - apiGroups: ["", "events.k8s.io"]
              resources: ["events"]
              verbs: ["create", "patch", "update"]
      bindings:
        multus:
          type: ClusterRoleBinding
          roleRef:
            identifier: multus
          subjects:
            - identifier: multus
    serviceAccount:
      multus: {}
    persistence:
      etc-cni-net-d:
        type: hostPath
        hostPath: /etc/cni/net.d
        globalMounts:
          - path: /host/etc/cni/net.d
      opt-cni-bin:
        type: hostPath
        hostPath: /opt/cni/bin
        globalMounts:
          - path: /host/opt/cni/bin
